html,body{
	height: 100%;
	color:#fff;
	font-family: sans-serif;
}

body{
	background:url(sky.jpg) center center;
	background-size: cover;
	margin:0;
	padding:0;
	position: relative;
}

#container{
	text-align: center;
	width:100%;
	position:absolute;
	top:50%;
	transform: translateY(-55%);
}

h1{
	font-size: 54px;
	text-transform: uppercase;
	margin-bottom:20px;
}

p{
    font-size:20px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right:25px;
}

a{
    color:#fff;
    font-size:18px;
    border:1px solid #fff;
    border-radius:3px;
    padding:5px 50px;
    text-decoration:none;
}
